.texth1 {
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.containertext {
    padding: 25px;
    border-radius: 15px;
}

.text {
    font-size: 24px;
    text-align: justify;
    text-indent: 4rem;
    font-weight: 300;
}

.texth2 {
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}