.navigantioncontent:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}

.navigationtext {
    margin-right: 2.5rem;
    font-size: 1.25rem;
    color: white;
    transition: 350ms;
    cursor: pointer;
}

.navigationtext:hover {
    transform: scale(1.2);
}