@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #02041D;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
}