.container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 48px;
    width: 100%;
    height: 100%;
}

.containerimg {
    width: 375px;
    height: 375px;
}

.img {
    border-radius: 50%;
}

.text {
    font-size: 72px;
    color: wheat;
}

.textazul {
    color: #2469BA;
}